<div class="contanner ">

  <div class="container chatroom mt-5 rounded-3"
    data-controller="chatroom-subscription"
    data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
    data-chatroom-subscription-current-user-id-value="<%= current_user.id %>">
    <%= link_to :back, class: "btn btn-success mt-3 btn-return" do %>
      <i class="fa-solid fa-circle-arrow-left"></i>
    <% end %>

    <div class="messages" data-chatroom-subscription-target="messages">
      <% @chatroom.messages.each do |message| %>
        <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
            <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
              <%= render "messages/message", message: message %>
            </div>
        </div>
      <% end %>
    </div>

    <%= simple_form_for [@chatroom, @message],
      # "ajax:succes->chatroom-subscription#resetForm"
    html: {
      class: " d-flex",
      data: {
        action: "turbo:submit-end->chatroom-subscription#resetForm"
        }
      } do |f|
    %>
    <%= f.input :content,
      label: false,
      placeholder: "Send Message...",
      wrapper_html: {class: " flex-grow-1 m-1"}
    %>
    <%= f.submit "Send", class: "btn btn-light mb-4 xx" %>
    <% end %>
  </div>
</div>
