<div class="container p-3">
  <h2 class="py-3">Book Service: <%= service.name %></h2>
  <%= simple_form_for [service, booking] do |f| %>
    <%= f.input :start_date, label: "Date", as: :datetime, html5: true, input_html: {min: Date.today} , hint: "duration: #{service.duration} minutes"%>
    <%= f.input :price, input_html: {value: service.price.to_i || 0}, readonly: true %>
    <%= f.submit "Submit Booking", class: "btn btn-success mt-3" %>
  <% end %>
</div>
