<h1><%= @booking.service.name %> (<%= @booking.status ? "Done" : "Pending" %>)</h1>
<p>Start Date: <%= @booking.start_date %></p>
<p>End Date: <%= @booking.end_date %></p>
<p>Price: <%= @booking.price %></p>
<p>Worker: <%= @booking.service.user.first_name %></p>
<%= render "review" %>
