<div class="footer-talenty footer pt-2">
  <div class="up-talenty" >
    <div class="icons-green">
      <%= image_tag "insta_footer.svg" %>
      <%= image_tag "insta_footer.svg" %>
      <%= image_tag "youtube_footer.svg" %>
      <%= image_tag "face_footer.svg" %>
    </div>
    <div class="titulo">
      <%= image_tag "talenty_footer.svg" %>
    </div>
    <div class="icons-green">
      <%= image_tag "link_footer.svg" %>
      <%= image_tag "insta_footer.svg" %>
      <%= image_tag "youtube_footer.svg" %>
    </div>
  </div>
  <div class="down-talenty" >
    <div>
        <%= image_tag "telefo_footer.svg" %>
        <%= image_tag "correo_footer.svg" %>
        <%= image_tag "localitation_footer.svg" %>
    </div>
  </div>
</div>
