<div class="carousel-talenty py-4">
   <h2 class="text-center"> Talenty Human</h2>
    <div class="container">
      <div class="slid-er">
        <div class="slides" id="slides">
          <div class="slide">
            <div class="slide-content">
              <a href="">
                <%= image_tag "baby.jpg", class: "imagen" %>
              </a>
            </div>
          </div>
          <div class="slide">
            <div class="slide-content">
              <a href="">
                <%= image_tag "albanil.jpg", class: "imagen" %>
              </a>
            </div>
          </div>
          <div class="slide">
            <div class="slide-content">
              <a href="">
                <%= image_tag "electricista.jpg", class: "imagen" %>
              </a>
            </div>
          </div>
          <div class="slide">
            <div class="slide-content">
              <a href="">
                <%= image_tag "jardinero.jpg", class: "imagen" %>
              </a>
            </div>
          </div>
          <div class="slide">
            <div class="slide-content">
              <a href="">
                <%= image_tag "niñera.jpg", class: "imagen" %>
              </a>
            </div>
          </div>
          <div class="slide">
            <div class="slide-content">
              <a href="" >
                <%= image_tag "oficios.jpg", class: "imagen" %>
              </a>
            </div>
          </div>
          <div class="slide">
            <div class="slide-content">
              <a href="">
                <%= image_tag "pintor.jpeg", class: "imagen" %>
              </a>
            </div>
          </div>
          <!-- Mirror content -->
          <div class="slide">
            <div class="slide-content">
              <a href="">
                <%= image_tag "soldador.jpg", class: "imagen" %>
              </a>
            </div>
          </div>
          <div class="slide">
            <div class="slide-content">
              <a href="">
                <%= image_tag "jardin.jpg", class: "imagen" %>
              </a>
            </div>
          </div>
          <div class="slide">
            <div class="slide-content">
              <a href="">
                <%= image_tag "electr.jpeg", class: "imagen" %>
              </a>
            </div>
          </div>
          <div class="slide">
            <div class="slide-content">
              <a href="">
                <%= image_tag "limpie.jpg", class: "imagen" %>
              </a>
            </div>
          </div>
          <div class="slide">
            <div class="slide-content">
              <a href="">
                <%= image_tag "soldadura1.jpg", class: "imagen" %>
              </a>
            </div>
          </div>
          </div>
        </div>
      </div>
  </div>
</div>
