<div class="carousel-talenty py-4">
   <h2 class="text-center"> Talenty Human</h2>
    <div class="container">
      <div class="slid-er">
        <div class="slides" id="slides">
          <div class="slide">
            <div class="slide-content">
              <a href="">
                <%= image_tag "baby", class: "imagen" %>
              </a>
            </div>
          </div>
          <div class="slide">
            <div class="slide-content">
              <a href="">
                <%= image_tag "albanil", class: "imagen" %>
              </a>
            </div>
          </div>
          <div class="slide">
            <div class="slide-content">
              <a href="">
                <%= image_tag "electricista", class: "imagen" %>
              </a>
            </div>
          </div>
          <div class="slide">
            <div class="slide-content">
              <a href="">
                <%= image_tag "jardinero", class: "imagen" %>
              </a>
            </div>
          </div>
          <div class="slide">
            <div class="slide-content">
              <a href="">
                <%= image_tag "niñera", class: "imagen" %>
              </a>
            </div>
          </div>
          <div class="slide">
            <div class="slide-content">
              <a href="" >
                <%= image_tag "oficios", class: "imagen" %>
              </a>
            </div>
          </div>
          <div class="slide">
            <div class="slide-content">
              <a href="">
                <%= image_tag "pintor", class: "imagen" %>
              </a>
            </div>
          </div>
          <!-- Mirror content -->
          <div class="slide">
            <div class="slide-content">
              <a href="">
                <%= image_tag "soldador", class: "imagen" %>
              </a>
            </div>
          </div>
          <div class="slide">
            <div class="slide-content">
              <a href="">
                <%= image_tag "jardin", class: "imagen" %>
              </a>
            </div>
          </div>
          <div class="slide">
            <div class="slide-content">
              <a href="">
                <%= image_tag "electr", class: "imagen" %>
              </a>
            </div>
          </div>
          <div class="slide">
            <div class="slide-content">
              <a href="">
                <%= image_tag "limpie", class: "imagen" %>
              </a>
            </div>
          </div>
          <div class="slide">
            <div class="slide-content">
              <a href="">
                <%= image_tag "soldadura1", class: "imagen" %>
              </a>
            </div>
          </div>
          </div>
        </div>
      </div>
  </div>
</div>
