<div class="container-home-talenty">
  <div class="changue">
    <div class="box-talenty" >
     <%= image_tag "icon_home"%>
    </div>
    <div class="box-talenty" >
      <h3>Here, you can to search the category that you need!.</h3>
    </div>
    <div class="box-talenty" >
      <%= image_tag "icon2_home" %>
    </div>
  </div>
  <div class="cards-talenty">
    <%# Categories from DB %>
    <% @categories.each do |category| %>
      <%= link_to category_path(category.name) do %>
        <div class="card-talenty">
          <%= image_tag category.name.gsub(/\s+/, "").downcase %>
          <h6><%= category.name %></h6>
      </div>
      <% end %>
    <% end %>
    <%# End categories from DB %>
    <div class="card-talenty">
    <%= image_tag "pintoreria_home" %>
      <h6>Painters</h6>
    </div>
    <div class="card-talenty">
    <%= image_tag "plomero_home" %>
      <h6>Plumbers</h6>
    </div>
    <div class="card-talenty">
    <%= image_tag "ninera_home" %>
      <h6>Babysitters</h6>
    </div>
    <div class="card-talenty">
    <%= image_tag "soldador_home" %>
      <h6>Welders</h6>
    </div>
  </div>
</div>
